<!-- Start Navbar -->
<nav class="navbar">
	<div class="cursor navbarItems">
		Logo
	</div>
	<div class="navbarItems">
		<h1 class="appTitle">Skeleton Project</h1>
	</div>
	<div class="navbar-text welcome  navbarItems">
		<span class="pr-3 cursor" routerLink="/home" role="link">Home</span>
		<span class="pr-3">|</span>
		<span class="pr-3 cursor" routerLink="/profile" role="link">Profile</span>
		<span class="pr-3">|</span>
		<span class="pr-3 cursor" routerLink="/admin" role="link">Admin</span>
	</div>

</nav>
<!-- End Navbar -->