.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    /* Set the fixed height of the footer here */
    height: 40px;
    /* Vertically center the text there */
    background-color: #5a5a5a;
}

.footerText {
    font-size: 12px;
    margin-top: 10px;
    color: #fff;
}