/* You can add global styles to this file, and also import other style files */
html,
body {
    /*Specify your font name here*/
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    background-color: #f2f2f2;
}

.cursor {
    cursor: pointer;
}

.btn-success {
    font-family: sansbold;
    background-color: rgb(0, 159, 219);
    border-color: rgb(0, 159, 219);
    border-radius: 0.5rem;
}

.btn-success:hover {
    background-color: rgb(5, 104, 174);
    border-color: rgb(5, 104, 174);
}

.btn-success.focus,
.btn-success:focus {
    box-shadow: 0 0 0 0.2rem rgb(0, 159, 219);
    ;
}

.btn-success:disabled {
    background-color: rgb(113, 197, 232);
    border-color: rgb(113, 197, 232);
}

.btn-danger {
    background-color: rgb(207, 42, 42);
    border-color: rgb(207, 42, 42);
}


.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid rgb(76, 196, 12);
    /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid rgb(207, 42, 42);
    /* red */
}
